{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque quasi at vel, eius, eos dolorem, sunt blanditiis iste placeat odio sit provident. Blanditiis, eaque tempora accusamus voluptatibus debitis aliquid dolor consequuntur error tempore! Quas officiis, at fuga doloribus incidunt reprehenderit pariatur vero molestias quam, necessitatibus et velit minus saepe dolorum molestiae eum, illo quo consequatur amet optio ipsum. Ipsam officiis temporibus nisi nam necessitatibus debitis ipsum corporis quos facilis in inventore dolorem rerum libero consequatur fugiat odit eos aut at, sequi autem. Obcaecati eum in, sequi ipsa itaque harum molestiae numquam magni, sunt enim, minima quae fugiat quis porro est?</p>

        <div class="text-center">
            <a href="/signin/" class="btn btn-secondary">
                Signin
            </a>
            <a href="/signup/" class="btn btn-dark">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock %}

